body {
    
}

#wrapper {
    margin: 0 auto;
    width: 1020px;
}

#header {
    height: 200px;
    background-color: orange;
    width: 1020px;
}

#content {
    height: 800px;
    background-color: purple;
}

#footer {
    height: 200px;
    background-color: blue;
}